<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="../static/css/visualization.css">
  <title>About</title>
  <!-- Core Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <!-- API key -->
  <script type="text/javascript" src="{{url_for('static', filename='js/config.js')}}"></script>
  <!-- Leaflet heatmap plugin-->
  <script type="text/javascript" src="{{url_for('static', filename='js/leaflet-heat.js')}}"></script>


  <!-- Plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


  <!-- D3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Multiselect Bootstrap Addon -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


  <!-- App specific sytlesheet -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/scrollytelling.css')}}">

</head>

<body style="background-color: whitesmoke;">

  <!-- Temporary Nav - Delete after testing  -->

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">Home</a>

    <a class="navbar-brand" href="about.html">About</a>
  </nav>

  <!-- Nav test ends -->

  <!-- main img-->
  <!-- <img src="../static/images/bg-masthead.png" class="rounded mx-auto d-block" alt="candidates image"> -->






  <div class="container" style="background-color: whitesmoke;">
    <h1><img src="../static/images/bg-masthead-whitesmoke.png" class="rounded"
        style="padding-top: 10px; max-height: 500px; width: 1200px;" alt="2020 candidates img"></h1>
  </div>
  <div class="container" style="padding-top: 40px;">

    <div class="row" style="text-align: center;">
      <div class="col-xs-12 col-md-12">
        <h1 style="padding-top: 20px; font-size: xx-large;"><b>Political Reach on Twitter Without the Political
            Advertising</b>
        </h1>
        <h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">On October 30th, 2019,
          Twitter’s CEO,
          Jack Dorsey announced that Twitter will stop accepting political ads to reduce significant risk to politics.
        </h2><br><br><br>

        <img src="../static/images/tweet1.jpg" class="rounded"
          style="padding-top: 10px; max-height: 500px; width: 800px; padding-bottom: 40px;" alt="Jack Tweet 1">
        <img src="../static/images/tweet2.jpg" class="rounded"
          style="padding-top: 10px; max-height: 500px; width: 800px; padding-bottom: 40px;" alt="Jack Tweet 2">
        <img src="../static/images/tweet3.jpg" class="rounded"
          style="padding-top: 10px; max-height: 500px; width: 800px; padding-bottom: 40px;" alt="Jack Tweet 3">
      </div>

      <div class="row" style="text-align: center; block-size: 40px; padding-top: 45px;padding-bottom: 50px;">
      </div>
      <div class="col-xs-12 col-md-12">

        <h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;padding-top: 50px;">The
          announcement comes amid
          the scrutiny of social media companies’ handling of political ads. Large social media
          companies, such as Facebook, have been criticized for allowing politicians to run false advertisements.
        </h2><br><br><br>
      </div>


      <div class="row" style="text-align: center; block-size: 40px; padding-top: 45px;padding-bottom: 60px;">
      </div>
      <div class="col-xs-12 col-md-12">

        <h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">This decision puts Twitter
          at odds with other social media companies that have defended their policies of not fact-checking political
          ads.
        </h2><br><br><br>
      </div>



      <!-- More Info  -->
      <div class="container" style="padding-top: 40px;">

        <div class="row" style="text-align: center;">
          <div class="col-xs-12 col-md-12">
            <h1 style="padding-top: 20px; font-size: xx-large;padding-top: 40px" ;><b>Quantitative and Qualitative
                Data</b>
            </h1>
            <h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;padding-top: 40px">
              Quantitative Data is word-based so it describes qualities of things. An example would be
              a heatmap with a color gradiant scale because each color represents a range of numerical values.

            </h2><br><br><br>
            <!-- additional images -->
            <!-- <img src=" ../static/images/tweet1.jpg" class="rounded"
              style="padding-top: 10px; max-height: 500px; width: 800px; padding-bottom: 40px;" alt="Jack Tweet 1">-->

            <h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;padding-top: 40px">
              Qualitative Data is numerical and it records quantities.
            </h2><br><br><br>

            <!-- <img src="../static/images/tweet2.jpg" class="rounded"
              style="padding-top: 10px; max-height: 500px; width: 800px; padding-bottom: 40px;" alt="Jack Tweet 2">
            <img src="../static/images/tweet3.jpg" class="rounded"
              style="padding-top: 10px; max-height: 500px; width: 800px; padding-bottom: 40px;" alt="Jack Tweet 3"> -->
          </div> -->




          <!-- Scrollama javascript -->
          <script src="{{url_for('static', filename='js/stickyfill.min.js')}}"></script>
          <script src="https://unpkg.com/scrollama"></script>
          <script type="text/javascript" src="{{url_for('static', filename='js/scrollytelling.js')}}"></script>

          <!-- text analysis functions -->
          <script type="text/javascript" src="{{url_for('static', filename='js/textanalysis.js')}}"></script>

          <!-- Mapping and plotting functions -->
          <script type="text/javascript" src="{{url_for('static', filename='js/visualization.js')}}"></script>

          <!-- Monitors user inputs, populates webpage -->
          <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>

          <script type="text/javascript" src="../static/js/visualization.js"></script>


</body>

</html>