<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Twitter Poll</title>
  <!-- Core Bootstrap -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  
  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
  <!-- API key -->
  <script type="text/javascript" src="{{url_for('static', filename='js/config.js')}}"></script>
  <!-- Leaflet heatmap plugin-->
  <script type="text/javascript" src="{{url_for('static', filename='js/leaflet-heat.js')}}"></script>
  
  <!-- Plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  

  <!-- D3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Multiselect Bootstrap Addon -->
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css"> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->

  
  <!-- App specific sytlesheet -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/scrollytelling.css')}}">

</head>

<body>
  
  <div class="container" id="top">
    <!-- Home Section -->
   
    <div class="row">
       <div style="text-align : center">
         <h1>Who Has The Most Political Capital on Twitter?</h1>
         <h2><br>Select two politicians to see how they stack up.</h2>
         <p><br></p>
       </div>
    </div>
     
    <div class="row">
     <div>
        <form>
          <div class="form-group"  style="text-align:center">
            <select class="form-control" id="input1">
              <option  selected='selected'>Bernie Sanders</option>
              <option>Donald Trump</option>
              <option>Joe Biden</option>
              <option>Elizabeth Warren</option>
              <option>Pete Buttigieg</option>
              <option>Kamala Harris</option>
              <option>Andrew Yang</option>
              <option>Ted Cruz</option>
              <option>Ben Carson</option>
              <option>Mike Pence</option>
              <option>Michael Bloomberg</option>
              <option>Tulsi Gabbard</option>
            </select>
          </div>
        </form>
     </div>

      <div>
        <h4 style="text-align : center">Vs.</h4>
      </div>


     <div>
      <form>
        <div class="form-group"  style="text-align:center">
          <select class="form-control" id="input2">
            <option>Bernie Sanders</option>
            <option  selected='selected'>Donald Trump</option>
            <option>Joe Biden</option>
            <option>Elizabeth Warren</option>
            <option>Pete Buttigieg</option>
            <option>Kamala Harris</option>
            <option>Andrew Yang</option>
            <option>Ted Cruz</option>
            <option>Ben Carson</option>
            <option>Mike Pence</option>
            <option>Michael Bloomberg</option>
            <option>Tulsi Gabbard</option>
          </select>
        </div>
      </form>
      <p></p>
    </div>
    </div>

    <div class="row">
     <div style="text-align:center">
       <button id="button" type="button" class="btn btn-default">Ready!</button>
     </div>
    </div>

    <main>
   <section id="intro">
       <p style="text-align : center"><br><strong>Start Scrolling To See Who's Ahead.</strong><br></pstyle="text-align : center">
    </section>

   <section id="scrolly1">

    <figure style="height: 523.5px; top: 261.75px;">
      <!-- <p>1</p> -->
      <div id="map", style="height: 100%; width:100%"></div>
   </figure>

    <article>
        <div class="step" data-step="1" data-scrollama-index="0" style="height: 785px;">
    <!-- <p class="stepText">STEP 1</p> -->
        </div>
        <div class="step is-active" data-step="2" data-scrollama-index="1" style="height: 785px;">
            <p class="stepText">This dataset was collected using the Twitter API. <br><br>When users include a politician's campaign hashtag, for example,<br><br><strong>#KeepAmericaGreat</strong> or <strong>#FeeltheBern</strong><br><br> in their tweets, that user's location is added to this map.</p>
        </div>
        <div class="step" data-step="3" data-scrollama-index="2" style="height: 785px;">
            <p class="stepText">More markers in a particular area indiciate more support in that area.</p>
        </div>
        <!-- <div class="step" data-step="4" data-scrollama-index="3" style="height: 785px;">
            <p class="stepText">We only included tweets that originated in the United States.</p>
        </div> -->
    </article>
     
   </section>

   <section id="outro1">
     <p></p>
   </section>
   <br>
   <br>

   <section id="intro2">
       <p><br></p>
     </section>

   <section id="scrolly2">

    <figure style="height: 523.5px; top: 261.75px;">
      <!-- <p>1</p> -->
      <div id="lineplot", style="height: 100%; width:100%"></div>
    </figure>

     <article>
       <div class="step" data-step="1" data-scrollama-index="0" style="height: 785px;">
         <!-- <p class="stepText">STEP 1</p> -->
       </div>
       <div class="step is-active" data-step="2" data-scrollama-index="1" style="height: 785px;">
         <p class="stepText">To quantify how popular a politician is on Twitter, we totalled his/her <strong>Favorites & Retweets</strong> for each day.</p>
       </div>
       <!-- <div class="step" data-step="3" data-scrollama-index="2" style="height: 785px;">
         <p class="stepText">Hence this shows how much activity each politician is getting each day by calculating the sum of favorites + retweets.</p>
       </div> -->
       <div class="step" data-step="3" data-scrollama-index="2" style="height: 785px;">
         <p class="stepText">At the start of this project, we analyzed the 3200 most recent tweets for each politician.<br><br> More tweets are added to the dataset each day.</p>
       </div>
     </article>

   </section>
 
   <section id="outro2">
     <p><br></p>
   </section>
   <br>
   <br>

   <section id="intro3">
       <p></p>
   </section>
 
   <section id="scrolly3">

    <figure id="figure3" style="height: 523.5px; top: 261.75px; overflow:hidden;">
      <div id="barchart"></div>
     <!-- <p>1</p> -->
    </figure>

     <article>
       <div id="this-step-monitor3" class="step" data-step="1" data-scrollama-index="0" style="height: 785px;">
         <!-- <p class="stepText">STEP 1</p> -->
       </div>
       <div class="step is-active" data-step="2" data-scrollama-index="1" style="height: 785px;">
         <p class="stepText">The most popular tweet has the highest total of Favorites and Retweets.</p>
       </div>
       <!-- <div class="step" data-step="3" data-scrollama-index="2" style="height: 785px;">
         <p class="stepText">To get the 5 most common words we extracted all of the politician's tweets and counted the frequency at which each word appeared.</p>
       </div>
       <div class="step" data-step="4" data-scrollama-index="3" style="height: 785px;">
         <p class="stepText">We removed the 500 most common words in the English language to create a population of unique words.</p>
       </div>   -->
     </article>


   </section>
     
   <section id="outro3">
     <p></p>
   </section>

   <section id="intro4">
     <p></p>
   </section>

   <section id="scrolly4">

    <figure id="figure4" style="height: 523.5px; top: 261.75px; overflow:hidden;">
      <div id="lollipop-container">
        <div id="lollipop1"></div>
        <div id="lollipop2"></div>
      </div>

       <!-- <p>1</p> -->
     </figure>

     <article>
       <div id="this-step-monitor4" class="step" data-step="1" data-scrollama-index="0" style="height: 785px;">
         <!-- <p class="stepText">STEP 1</p> -->
       </div>
       <div class="step is-active" data-step="2" data-scrollama-index="1" style="height: 785px;">
         <p class="stepText">To analyze a politician's unique twitter vocabulary, we extracted each word from all of their tweets and calculated the frequency at which each word appeared.
           <br><br>We removed the 500 most common words in the English language to create a population of unique words.
         </p>
       </div>
       <div class="step" data-step="3" data-scrollama-index="2" style="height: 785px;">
        <!-- <p class="stepText">STEP 1</p> -->
      </div>
     </article>


   </section>
     
   <section id="outro4">
     <p><br>We hope you found this analysis interesting! Compare more politicians at the top of the page.<br></p>
     <p><br><a href="#top">Jump to top of page</a><br></p>
     <p><br><br></p>
     <p><br><br></p>
     <p><br><br></p>
     <p><br><br></p>
     <p><br><br></p>
   </section>

    </main> 

  </div>
  
  <!-- Scrollama javascript -->
  <script src="{{url_for('static', filename='js/stickyfill.min.js')}}"></script>
  <script src="https://unpkg.com/scrollama"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/scrollytelling.js')}}"></script>
  
  <!-- text analysis functions -->
  <script type="text/javascript" src="{{url_for('static', filename='js/textanalysis.js')}}"></script>

  <!-- Mapping and plotting functions -->
  <script type="text/javascript" src="{{url_for('static', filename='js/visualization.js')}}"></script>

  <!-- Monitors user inputs, populates webpage -->
  <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>

</body>

</html>
