<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Twitter Poll</title>
  <!-- Core Bootstrap -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  
  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
  <!-- API key -->
  <script type="text/javascript" src="{{url_for('static', filename='js/config.js')}}"></script>
  <!-- Leaflet heatmap plugin-->
  <script type="text/javascript" src="{{url_for('static', filename='js/leaflet-heat.js')}}"></script>
  
  <!-- Plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  

  <!-- D3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Multiselect Bootstrap Addon -->
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css"> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->

  <!-- Week of the year -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>

  <!-- App specific sytlesheet -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/scrollytelling.css')}}">

</head>

<body>
  
  <div class="container" id="top">
    <!-- Home Section -->
   
    <div class="row">
       <div style="text-align : center">
         <h1>Which Politicians Are Winning On Twitter?</h1>
         <p><br></p>
       </div>
    </div>
     
    <div class="row">
     <div>
        <form>
          <div class="form-group"  style="text-align:center">
            <select class="form-control" id="input1">
              <option  selected='selected'>Bernie Sanders</option>
              <option>Donald Trump</option>
              <option>Joe Biden</option>
              <option>Elizabeth Warren</option>
              <option>Pete Buttigieg</option>
              <option>Andrew Yang</option>
              <option>Tulsi Gabbard</option>
              <option>Michael Bloomberg</option>
            </select>
          </div>
        </form>
     </div>

      <div>
        <h4 style="text-align : center">Vs.</h4>
      </div>


     <div>
      <form>
        <div class="form-group"  style="text-align:center">
          <select class="form-control" id="input2">
            <option>Bernie Sanders</option>
            <option selected='selected'>Donald Trump</option>
            <option>Joe Biden</option>
            <option>Elizabeth Warren</option>
            <option>Pete Buttigieg</option>
            <option>Andrew Yang</option>
            <option>Tulsi Gabbard</option>
            <option>Michael Bloomberg</option>
          </select>
        </div>
      </form>
      <p></p>
      </div>
    </div>

    <div class="row">
     <div style="text-align:center">
       <button id="button" type="button" class="btn btn-default">Go!</button>
     </div>
    </div>

    <main>
    <section id="intro2">
      <h3 style="text-align : center" id="introText"><br><strong>Start Scrolling To See Who's Ahead.</strong><br></h3>
    </section>

  <section id="scrolly2">

    <figure>
      <!-- <p>1</p> -->
      <div id="lineplot", style="height: 100%; width:100%"></div>
    </figure>

    <article>
      <div class="step" data-step="1" data-scrollama-index="0">
        <p class="stepText">To quantify how popular a politician is on Twitter, we totalled how many <br><strong>Favorites & Retweets</strong><br> he/she recieves each week.</p>
      </div>
      <div class="step is-active" data-step="2" data-scrollama-index="1">
        <p class="stepText" id="stepText1">[Politician 1] averages <br><strong>[X]</strong><br> weekly Favorites & Retweets</p>
      </div>
      <div class="step" data-step="3" data-scrollama-index="2">
        <p class="stepText" id="stepText2">[Politician 2] averages <br><strong>[X]</strong><br> weekly Favorites & Retweets</p>
      </div>
    </article>

  </section>

  <section id="outro2">
    <p><br></p>
  </section>
   <section id="intro">
    <h3 style="text-align : center">Where in the U.S. does their support come from?</h3>
    </section>

   <section id="scrolly1">

    <figure>
      <!-- <p>1</p> -->
      <div id="map", style="height: 100%; width:100%"></div>
   </figure>

    <article>
        <div class="step is-active" data-step="1" data-scrollama-index="0">
            <p class="stepText">When Twitter users include a politician's campaign hashtag, for example,<br><br><strong>#KeepAmericaGreat</strong> or <strong>#FeeltheBern</strong><br><br> in their tweets, that user's location is added to this map.<br><br>More markers in a particular area indiciates  more support in that area.</p>
        </div>
        <div class="step" data-step="2" data-scrollama-index="1">
          <p class="stepText" id="stepText3">Each politician's map is different.<br><br> Consider [Politcian 1]'s support map</p>
        </div>
        <div class="step" data-step="3" data-scrollama-index="2">
          <p class="stepText" id="stepText4">Now, compare [Politcian 2]'s support map</p>
        </div>
    </article>
     
   </section>

   <section id="outro1">
     <p></p>
   </section>
   <br>
   <br>


   <br>
   <br>

   <section id="intro3">
       <h3 style="text-align : center">How do the most retweeted tweets of these politicians compare?</h3>
   </section>
 
   <section id="scrolly3">

    <figure id="figure3" style="overflow:hidden;">
      <div id="barchart"></div>
     <!-- <p>1</p> -->
    </figure>

     <article>
       <div id="this-step-monitor3" class="step" data-step="1" data-scrollama-index="0">
         <p class="stepText">The tweets shown here have the highest total of <strog>Retweets</strog>. <br><br>These tweets encapsulate what people love (or hate) about these politicians.</p>
       </div>
     </article>


   </section>
     
   <section id="outro3">
     <p></p>
   </section>

   <section id="intro4">
     <h3 style="text-align : center">Which words are coming up over and over in these politcian's tweets?</h3>
   </section>

   <section id="scrolly4">

    <figure id="figure4" style="overflow:hidden;">
      <div id="lollipop-container">
        <div id="lollipop1"></div>
      </div>

       <!-- <p>1</p> -->
     </figure>

     <article>
       <div id="this-step-monitor4" class="step is-active" data-step="1" data-scrollama-index="0">
         <p class="stepText">To analyze a politician's unique twitter vocabulary, we extracted each word from all of their tweets and calculated the frequency at which each word appeared.
           <br><br>We removed the 500 most common words in the English language to create a chart of their unique words.
         </p>
       </div>
       <div class="step" data-step="2" data-scrollama-index="1 ">
        <p class="stepText" id="stepText5">Have a look at [Politcian 1]'s unique vocabulary.</p>
      </div>
     </article>


   </section>
     
   <section id="outro4">
   </section>

   <section id="intro5">
  </section>

  <section id="scrolly5">

   <figure id="figure5" style="overflow:hidden;">
     <div id="lollipop-container">
       <div id="lollipop2"></div>
     </div>

      <!-- <p>1</p> -->
    </figure>

    <article>
      <div id="this-step-monitor4" class="step is-active" data-step="1" data-scrollama-index="0">
        <p class="stepText" id="stepText6">..and [Politcian 2]'s vocab.</p>
      </div>
    </article>


  </section>
    
  <section id="outro5">
    <div style="text-align:center">     
     <p><br>We hope you found this analysis interesting! If you did, follow us on Twitter, or get in touch on Reddit. <br><br>Compare more politicians at the top of the page.<br></p>
     <p><br><a href="#top">Jump to top of page</a><br></p>
   </div>
  </section>

    </main> 

  </div>
  
  <!-- Scrollama javascript -->
  <script src="{{url_for('static', filename='js/stickyfill.min.js')}}"></script>
  <script src="https://unpkg.com/scrollama"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/scrollytelling.js')}}"></script>
  
  <!-- text analysis functions -->
  <script type="text/javascript" src="{{url_for('static', filename='js/textanalysis.js')}}"></script>

  <!-- Mapping and plotting functions -->
  <script type="text/javascript" src="{{url_for('static', filename='js/visualization.js')}}"></script>

  <!-- Monitors user inputs, populates webpage -->
  <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>


</body>

</html>
